<div class="grid">
    <div class="col-12 md:col-3">
        <div class="card text-center">
            <img width=100% [src]="currentUser?.image" alt="currentUser?.firstName + ' ' + currentUser?.lastName" class="mb-3">
            <span class="font-bold text-300">{{ currentUser?.role }}</span>
        </div>
    </div>
    <div class="col-12 md:col-9">
        <div class="card">
            <h5>My account</h5>
            <p-tabView orientation="left">
                <p-tabPanel header="Général" class="line-height-3 m-0">
                    <app-profile-details-section [currentUser]="currentUser"></app-profile-details-section>
                </p-tabPanel>
                <p-tabPanel header="Sécurity" class="line-height-3 m-0">
                    <app-security-section></app-security-section>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>