<div class="card">
    <div class="grid justify-content-between col">
        <div>
            <h4 class="mb-5">Select Infrastructure</h4>
        </div>
        <p-button icon="pi pi-plus" label="Equipement" (onClick)="showAddDialog()" class="mx-2"></p-button>
    </div>
    <div class="grid p-fluid">
        <div class="col-12 md:col-3">
            <p-accordion>
                <p-accordionTab [header]="key" *ngFor="let key of getKeys(groupedEquipements)">
                    <ul>
                        <li *ngFor="let item of groupedEquipements[key]" (click)="handleEquipementShow(item)">{{ item.category }}</li>
                    </ul>
                </p-accordionTab>
            </p-accordion>
            <ng-template #noNodeSelected>
               <div class="card">
                    <span class="flex justify-content-center">No equipement added yet</span>
               </div>
            </ng-template>
        </div>
        <div class="md:col-9" *ngIf="selectedEquipement">
           
        </div>
    </div>
    <div class="grid justify-content-end col">
        <p-button label="Back"  (onClick)="goBack()" class="mx-2"></p-button>
        <p-button label="Next"  (onClick)="goBack()"></p-button>
    </div>
</div>

<app-add-equipement-dialog
    (dismiss)="addEquipementDialogVisible=false"
    (callback)="addNewEquipementCallback($event)"
    [addEquipementDialogVisible]="addEquipementDialogVisible"
></app-add-equipement-dialog>