<div class="card">
    <h4 class="mb-5">Create new audit</h4>
    <form [formGroup]="createAuditForm">
        <div class="p-fluid p-formgrid">
            <div class="grid">
                <div class="field col-12">
                    <label>Client</label>
                    <input pInputText type="text" formControlName="client"/>
                </div>  
                <div class="field col-12">
                    <label>Auditors</label>
                    <p-chips formControlName="auditors"/>       
                </div>     
                <div class="field col-12 md:col-12">
                    <label>Organisation name</label>
                    <input pInputText type="text" formControlName="organisationName"/>
                    <small *ngIf="createAuditForm.get('organisationName').touched && createAuditForm.get('organisationName').errors?.['required']" class="p-error">Organisation name is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label>Contract number</label>
                    <input pInputText type="text" formControlName="contactNumber"/>
                    <small *ngIf="createAuditForm.get('contactNumber').touched && createAuditForm.get('contactNumber').errors?.['required']" class="p-error">Contact number is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label>Phone number</label>
                    <input pInputTextarea rows="4" formControlName="phoneNumber"/>
                    <small *ngIf="createAuditForm.get('phoneNumber').touched && createAuditForm.get('phoneNumber').errors?.['required']" class="p-error">Phone number is required</small>
                </div>                  
                <div class="field col-12">
                    <label>Website</label>
                    <input pInputText type="text" formControlName="website"/>
                    <!-- <small *ngIf="createAuditForm.get('website').touched && createAuditForm.get('website').errors?.['required']" class="p-error">Webiste is required</small> -->
                </div>
                
                <div class="field col-12 md:col-6">
                    <label>Employees number</label>
                    <input pInputText type="number" min="0" formControlName="employeesNumber"/>
                    <small *ngIf="createAuditForm.get('employeesNumber').touched && createAuditForm.get('employeesNumber').errors?.['required']" class="p-error">Employees number is required</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Employees number in the perimeter</label>
                    <input pInputText type="number" min="0" formControlName="employeesInPerimeter"/>
                    <!-- <small *ngIf="createAuditForm.get('employeesInPerimeter').touched && createAuditForm.get('employeesInPerimeter').errors?.['required']" class="p-error">Employees in perimeter is required</small> -->
                </div>
               
            </div>
            <br>
            <div class="grid">
                <div class="field col-12 md:col-6">
                    <label>Contact name</label>
                    <input pInputText type="text" formControlName="contactName"/>
                    <small *ngIf="createAuditForm.get('contactName').touched && createAuditForm.get('contactName').errors?.['required']" class="p-error">Contact name is required</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Contact email</label>
                    <input pInputText type="text" formControlName="contactEmail"/>
                    <small *ngIf="createAuditForm.get('contactEmail').touched && createAuditForm.get('contactEmail').errors?.['required']" class="p-error">Contact email is required</small>
                </div>
            </div>
        </div>
        <div class="grid justify-content-end col">
            <p-button label="Next" (onClick)="goNext()"></p-button>
        </div>
    </form>
</div>