<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Disbaled users</h5>
			<p-table #dt1 [value]="filteredUsers" dataKey="_id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-end flex-column sm:flex-row">
						<!-- <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
						 <div></div>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="handleSearch($event)" placeholder="Search user" class="w-full"/>
						</span>
						<p-button label="Reload" [loading]="loading" (onClick)="getAllDisabled()" class="mx-2"></p-button>
					</div>
				</ng-template>
				<!-- table header -->
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Full name
							</div>
						</th>
						 <th style="min-width: 14rem">
							<div class="flex justify-content-between align-items-center">
								Email
							</div>
						</th>
						 <th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Role
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Creation date
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Actions
							</div>
						</th>
					</tr>
				</ng-template>
				<!-- table body -->
				<ng-template pTemplate="body" let-user>
					<tr>
						<td>
							<img [alt]="user.firstName +' ' + user.lastName" [src]="user.image" width="34" style="vertical-align: middle"/>
							<span class="image-text ml-2">{{user.firstName}} {{user.lastName}}</span>
						</td>
						 <td>
							<span class="image-text ml-2">{{user.email}}</span>
						</td>
						 <td>
							<span 
							class="customer-badge" 
							[ngClass]="{
								'status-qualified': user.role === 'ADMIN', 
								'status-new': user.role === 'CLIENT', 
								'status-renewal': user.role === 'AUDITOR'
							}">
							{{user.role}}
						</span>
						</td>
						<td>
							{{user.createdAt | date: 'dd/MM/yyyy'}}
						</td>
						<td>
							<div style="display: flex;justify-content: center;gap: 5px;">
							<button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-outlined" (click)="showDetails(user)"></button>
							<p-button icon="pi pi-check" severity="danger" severity="success" [rounded]="true" [outlined]="true"  [loading]="user._id === approveLoading" [disabled]="user._id === approveLoading" key="accept" (click)="confirmationDialog1.show();selectUserToApprove(user._id)"></p-button>
							<p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" [loading]="user._id === deleteLoading" [disabled]="user._id === deleteLoading" key="delete" (click)="confirmationDialog.show();selectUserToDelete(user._id)"></p-button>
							</div>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No signup requests found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Loading signup requests. Please wait.</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>
</div>
<app-custom-confirm-dialog 
	#confirmationDialog
	[key]="'delete'"
	(onAccept)="handleUserDelete()"
	(onReject)="clearLoading()"
></app-custom-confirm-dialog>

<app-custom-confirm-dialog 
	#confirmationDialog1
	[key]="'accept'"
	(onAccept)="handleUserApprove()"
	(onReject)="clearLoading()"
></app-custom-confirm-dialog>

<app-user-infos-dialog 
	[selectedUser]="selectedUser" 
	[visible]="dialogVisible" 
	(hide)="dialogVisible=false"
></app-user-infos-dialog>

